<% title @zip_code %>

<div class="actions">
  <%= link_to 'Edit', edit_zip_code_path(@zip_code), :class=>"btn" %>
  <%= link_to 'Back', zip_codes_path, :class=>"btn" %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @zip_code.code %></h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-3">
          Area: <%= @zip_code.area %>
        </div>
        <div class="col-sm-3">
          Z-Index: <%= @zip_code.z_index_value %>
        </div>
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
</div>
