<table class="table">
  <tr>
    <th><%= sortable "address" %></th><aside class="arrow"></aside>
    <th><%= sortable "units" %></th><aside class="arrow"></aside>
    <th><%= sortable "listing_price_cents", "Listing Price" %></th><aside class="arrow"></aside>
    <th><%= sortable "price_per_sqr_ft", "Price/SQR FT" %></th><aside class="arrow"></aside>
    <th><%= sortable "rent_per_month_cents", "Rent Per Month" %></th><aside class="arrow"></aside>
    <th><%= sortable "tecr", "TECR(96.5%)" %></th>
    <th></th>
  </tr>
  <% @properties.each do |p| %>
    <tr>
      <td><%= link_to(p.address, property_path(p)) %></td>
      <td><%= p.units %></td>
      <td><%= number_to_currency p.listing_price %></td>
      <td><%= p.price_per_sqr_ft %></td>
      <td><%= number_to_currency p.rent_per_month %></td>
      <td <%= 'bgcolor=#32CD32' if p.true_earnings_coverage_ratio(0.965) >= 1 %> ><%= number_with_precision(p.true_earnings_coverage_ratio(0.965), percision: 2) %></td>
      <td>
        <%= link_to 'Edit', edit_property_path(p), :class=>"btn" %>
      </td>
    </tr>
  <% end %>
</table>
